$table-column-bg-color: #e1effa;
$table-row-bg-color: #f9f9f9;
$table-header-bg-color: #f0f4f7;
$app-bg-color: #e6e7ec;
$logo-border-color: #5fa5ce;
$main-bg-color: #ffffff;
$underline-color: #cd8444;
$navbar-height: 3.5rem;
$text-primary-color: #585c5e;
$column-bg-color: #e1effc;

$table-text-color: #a8a8a8; //recom also
// unused
// $bg-danger-color: #fedfe5;
// $border-danger-color: #d1636e;
// $text-danger-color: #bc5467;
// $border-success-color: #2c856b;
// $bg-success-color: #f3fcf9;
// $text-success-color: #595a59;
// $text-primary-color: #585c5e;
// $text-secondary-color: #888888;
