@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./styles/vars";
@import "./styles/utilities";

/* Global Styles */

* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $app-bg-color;
  color: #333;
}

a {
  color: $text-primary-color;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // padding: 0.7rem 2rem;
  width: 100%;
  height: $navbar-height;
  hr {
    background-color: $underline-color;
    height: 0.3rem;
    border: none;
    width: 1.2rem;
    margin: 0.1rem 0;
  }
  .logo {
    margin-left: 3%;
    display: flex;
    align-items: center;
    border: 3px solid $logo-border-color;
    margin-right: 6%;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
  }
  // .logo:hover {
  //   border: 3px solid $logo-border-color;
  // }
  .logo_image {
    line-height: 1.5rem;
  }
  .logo_text {
    margin-left: 0.2rem;
    line-height: 1.5rem;
    // margin-right: 6%;
  }
  .menu_item {
    padding: 0.9rem;
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 3%;
    border-bottom: 0.25rem solid $main-bg-color;
    border-left: 0.25rem solid $main-bg-color;
    border-right: 0.25rem solid $main-bg-color;
  }
}

.navbar {
  .active {
    border-bottom: 0.25rem solid $underline-color;
  }
}

// recommendations, table
.recomendations {
  grid-area: table;
  td {
    text-align: center;
  }

  thead {
    height: 3.5rem;
    tr {
      background: $table-header-bg-color;
      th:first-child {
        @extend %tableFirstColumn;
      }
      th:nth-child(n + 2) {
        @extend %tableColumn;
      }
    }
  }
  tbody {
    // add styling of first column
    color: $table-text-color;
    tr {
      //   height: 3rem;
      td {
        height: 3rem;
      }
      td:first-child {
        @extend %tableFirstColumn;
      }
      // change font-weight of first column in component
      // td:first-child {
      //   font-weight: 700;
      // }
      td:nth-child(n + 2) {
        @extend %tableColumn;
      }
    }
    // change bg color of pairs
    tr:nth-child(4n + 1) {
      background: $table-row-bg-color;
      // vertical-align: bottom;
    }
    tr:nth-child(4n + 2) {
      background: $table-row-bg-color;
    }
    // connect pairs of lines
    tr:nth-child(2n + 1) {
      td {
        vertical-align: bottom;
        div {
          position: relative;
          span {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    tr:nth-child(2n + 2) {
      td {
        vertical-align: top;
      }
    }

    span {
      display: inline-block;
      width: 100%;
      padding: 0.3rem 0;
      // padding: 0.3rem 0.7rem;
    }
  }
  tfoot {
    background: $table-header-bg-color;
    font-weight: 700;
    tr {
      height: 3rem;
      td:first-child {
        padding-left: 1rem;
        @extend %tableFirstColumn;
      }
      td:nth-child(2) {
        text-align: right;
        padding-right: 1rem;
        span {
          margin-left: 0.44rem;
        }
      }
    }
  }
}

// вёрстка содержания металла в концентрате, %
// rudaCharacteristics

.gridContainer {
  display: grid;
  grid-template-columns: 2.15fr 1fr 0.9fr;
  // grid-template-rows: 2.81fr 0.9fr 0.9fr;
  grid-template-rows: 2.81fr 1fr 1fr;
  grid-template-areas:
    "table table table"
    "metal rudaCharacteristics ruda"
    "metal rudaCharacteristics notification";
  gap: 1rem 1.5rem;
}

.metalContent {
  background-color: $table-row-bg-color;
  grid-area: metal;
}

.rudaCharacteristics {
  background-color: $table-row-bg-color;
  grid-area: rudaCharacteristics;
}

.ruda {
  background-color: $table-row-bg-color;
  grid-area: ruda;
}
.notification {
  background-color: $table-row-bg-color;
  grid-area: notification;
}

@media (max-width: 1251px) {
  .gridContainer {
    // display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.81fr auto auto auto;
    // grid-template-rows: 2.81fr 1fr 1fr;
    grid-template-areas:
      "table table table"
      "metal metal metal"
      "rudaCharacteristics rudaCharacteristics ruda"
      "rudaCharacteristics rudaCharacteristics notification";
    // gap: 1rem 1.5rem;
  }
}
@media (max-width: 1215px) {
  .cell {
    width: 100% !important;
    span {
      width: 100% !important;
    }
  }
}

@media (max-width: 768px) {
  html {
    // font-size: 12px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // padding: 0.7rem 2rem;
    width: 100%;
    height: 100%;
  }

  .recomendations {
    tfoot {
      tr {
        td:nth-child(2) {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 548px) {
  .recomendations {
    tfoot {
      tr {
        td:nth-child(2) {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 438px) {
  .metalContent,
  .rudaCharacteristics,
  .ruda,
  .notification,
  .recomendations {
    margin-bottom: 1rem;
  }

  .gridContainer {
    display: block;

    // flex-direction: column;
    // align-items: flex-start;
    min-width: 214px;
  }
}
